
#isPhone, #isMobile {
    display: none;
    pointer-events: none;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
}





.svg-container article {

  float: left;
  clear: left;
  margin-right: .2em;


}

#header-pinned {
  z-index: 50;
}


li.li-list {
  width: 90%;

}

.container {
  padding: 0px 30px;
  margin-bottom: 30px;
}



.last-header {
  width: 100%;
}


/*CONTAINERS */
.svg-container {
  position: relative;
  clear: both;
}

.text-container {
  position: relative;
  width: 41%;
  padding-right: 1%;
  padding-bottom: 20px;
  float: left;
  margin-top: 15px;
}

.graphic-container {
  width: 58%;
  float: left;
  text-align: left;
  padding-left: 3%;
}


hr {
    width: 200px;
    border: 0 !important;
    height: 1px;
    border-bottom: 6px solid #1696d2 !important;
    border-bottom-color: #1696d2 !important;
    color: #1696d2 !important;
    margin-top: 45px !important;
    margin-bottom: 45px !important;
    margin-right: 100%;
    display: block;
    float: left;

}


.end-text {
  position: relative;
  float: left;
}


/***TOGGLES***/

.toggle_text{
    font-weight: 700;
    top: 40%;
    font-size: 13px;
    position: relative;
    width: 55%;
    text-align: left;
    float: left;
    padding-left: 1em;
    padding-top: .2em;

}

.div-center {
    position: relative;
    text-align: center;
    float: left;
    width: 100%;
    padding-top: 1.5em
}

.div-no-float {
    position: relative;
    text-align: center;
    float: left;
}

.div-toggle-inline {
    position: relative;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: #fff;
    margin-bottom: 1.5em;
}

.urban-switch.large {
    font-size: 13px;
    font-family: Lato, sans-serif;
    height: 26px;
    border: none;
    color: #ffffff;
    float: left;
    position: relative;
    line-height: 12px;
    text-align: left;
    border-radius: 10px;
    width: 20%;
}

.switch.large {
    background-image: url(../images/yes-no-english.png);
    background-color: #696969;
    background-repeat: no-repeat;
    /*width: 55px;*/
    /*height: 18px;*/
    /*border-radius: 10px;*/


    width: 83px;
    height: 26px;
    border-radius: 20px;
    margin-left: 1em;

    display: inline-block;
    background-size: cover;
    cursor: pointer;
    margin-right: 9px;
/*    top: 4px;
    left: 4px;
*/
    position: relative;

    -webkit-transition:background-position .1s ease-in;  
    -moz-transition:background-position .1s ease-in;  
    -o-transition:background-position .1s ease-in;  
    transition:background-position .1s ease-in; 

}

.switch.large.off {
    background-position: -68px 0px;
    background-color: #696969;
}

.switch.large.on {
    background-position: -10px 0px;
    background-color: #1696d2;
}







/*body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}*/

.section-feature-content {
  position: relative;
}


/*.wrapper{
    width:1100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-top:1px solid #eee;
    padding-right: 30px;
    padding-left: 30px;
} */


.content{
    margin: 0 auto;
    padding: 0px 30px;

}

.intro-inset {
    position: relative;
    display: inline-block;
    max-width: 30%;
    min-width: 20%;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 0px;
    float: right;
    border-left: 1px solid #555;
    font-size: 0.7em;
}

.inset-language {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    line-height: 2em;
    font-weight: 700;
}



/*******FIRST GRAPHIC********/

.xlabel {
  font-size: 18px;
}


.g {
  pointer-events: all;
}

#xlabel-div {
  padding-top: 1em;
  position: relative;
  float: left;
}
#firstGraphic {
  position: relative;
  float: right;
  width: 100%;
  height: 100%;

}


#firstGraphic > rect {
   fill: #ffffff;
}
.cell {
  fill: #1696d2;
}
.cell.selected {
  fill: #231f20;
}
.cell.deselected {
  fill: #1696d2;
}
.selected-text {
  fill: #ffffff;
}
.deselected-text {
  fill: #000000;
}
.cell.highlight {
  fill: #231f20;
}

.highlight-text {
  fill: #ffffff;
}


#tooltip {
  position: relative;
  float: left;
  margin-top: 1em;
  width: 100%;

}

.tooltip-div-right {
    position: relative;
    padding-left: 10px;
    float: left;
    border-left: 1px solid #555;

}


.tooltip-div-left {
    position: relative;
    padding-right: 0px;
    float: left;
   
}


#map {
  position: relative;
  width: 100%;
  height: 100%;

}
.map-legend{
  z-index: -1;
}
.div-center{
  z-index: 1;
}
.tooltip-text {
  font-size: 12px;
}

.tooltip-text-state {
  font-size: 1.5em;
  line-height: 36px;
  font-weight: 400;
}

.tooltip-text-state-mobile {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

.tooltip-header {
  fill: #1696d2;
  font-size: 12px;
  text-transform: uppercase;
}



.bottomRow-mobile{
  font-size: 12px;

}

/*Map Buttons */

#dropdown {
  position: relative;
  float: left;
  z-index: 10;
  height: 100%;
}

#dropdown-div{
  margin: 2em 0em;
  position: relative;
  text-align: center;
  float: left;
  width: 100%;
}
#dropdown-side-label{
  float: left;
  width: 15%;
  text-align: left;
  margin-left: .9em;
  margin-top: .5em;
  margin-bottom: .5em;  
  margin-right: 1em;
}

#dropdown-side-label-text {
  width: 100%;
  text-align: left;
}

/*MAP LEGEND*/

#legend {
  position: relative;

}



svg.legend-text-div {
  position: relative;
  word-wrap: break-word;
  float: right;
  width: 2em;

}

#no-data {
    stroke: #9d9d9d;
    z-index: 3;
    fill: none;
} 

#data-no-cat{
    fill: #cfe8f3;
    z-index: 3;
} 

#combined{
    fill: #46abdb;
    z-index: 3;
} 

#separate{
    fill: #12719e;
    z-index: 3;
} 

#cross-tabbed{
    fill: #0a4c6a;
    z-index: 3;
} 

text.legend-text {
  font-size: 12px;
  word-wrap: break-word;
   width: 2em;

}

text.grid-legend-text {
  font-size: 12px;
  word-wrap: break-word;
   width: 2em;

}

text.legend-text-mobile {
  font-size: 11px;

}

text.grid-legend-text-mobile {
  font-size: 11px;

}





#measures-button {
  width: 18em;
  display: inline;
  float: left;
  border: black;

}

span.ui-selectmenu-text {
  width: 125px;
}

#nav_bar{
    position: relative;
    width:70%;
    height:50px;
    margin-bottom: 30px;
    float: right;
}


#spanish {

    padding-top: 10px;
    float: left;
}

#step1, #step2, #step3 {
    width: 70%;
    padding-top: 10px;

    left: 50%;
    right: 50%;

}

#spanish, #step1, #step2, #step3 ul{
    margin-left:0px;
    margin-bottom:0px;
    text-indent: 0px;
    text-align: left;

    
}

.title-area {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    display: inline-block;
    width: 1125px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}




.inset-link {
    display: block;
    padding: 10px;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
}

.section-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;
    text-align: center;
}

.banner-area {
    position: relative;
    display: block;
    background-color: #dadada;
}

.img-banner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    max-width: none;
}

a {
    color: #1696d2;
    line-height: 14px;
    text-decoration: none;
}

.spanish.active span{
  background-color: #1696d2;
  color: white;
}

.spanish span:hover{
  background-color: #231f20;
  color: white;
}
/*

.step1_button, .step2_button, .step3_button {
  display: inline;
    float: right;
    color:#333;
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    font-size:12px;
    border:solid 1px #e1e1e1;
}



.step1_button.active {
  background-color: #1696d2;
  color: white;
}

.step2_button.active {
  background-color: #1696d2;
  color: white;
}

.step3_button.active {
  background-color: #1696d2;
  color: white;
}



.step2_button:hover{
  background-color: #231f20;
  color: white;
}

.step1_button:hover{
  background-color: #231f20;
  color: white;
}

.step3_button:hover{
  background-color: #231f20;
  color: white;
}

*/


select#measures-menu{
  display: none;
}
.ui-menu .ui-menu-item{
    text-align: left;
    text-indent: 1px;
}

.ui-icon, .ui-widget-content .ui-icon{
  top: 8px !important;
  opacity: 0;
}


.ui-icon.selected{
  opacity: 1;
}

.place-label {
    fill: #444;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    pointer-events: none;
 }

 path {
   cursor: pointer;
 }

.ui-selectmenu-text {
  font-size: 17px;
  margin-right: 1px;
  margin-left: 1px;
  overflow: visible !important;
}

/*GRID*/



#legend3-nonmobile {
   display: block;
  position: relative;
  float: right;
  margin-top: 2em;
  width: 35%;

}

#legend3-mobile {
  display: none;
}

.tooltip-grid {
    position: relative;
    float: right;
    width: 45%;
}
.gridSquare {
  cursor: pointer;
}

#grid {
  position: relative;
  width:55%;
  height: 100%;
  float: left;
  margin-top: 2em;
}

.grid-state-labels {
  font-size: 12px;
}

.grid-cat-labels {
  font-size: 12px;
  z-index: 3;
}

.cell {
  cursor: pointer;
}
.cell-text {
  font-size: 12px;
  pointer-events: none;
}

.cell-text-mobile {
  font-size: 10px;
  pointer-events: none;
}


/*ADJUSTING FOR SCREEN WIDTHS */

  .language_option span{
    color: #1696d2;
    line-height: 14px;
    text-decoration: none;
    cursor: pointer;
  }

@media (max-width: 479px) {

  .tooltip-div-left svg {
    height: 3.5em;
  }

  .tooltip-div-right svg {
    width: 15em;
  }
  #inset {
    width: 100%;
    max-width: none;
    min-width: 0px;
    margin-left: 0px;
    float: left;
    border-left-style: none;
    padding-left: 0px !important;
  }
  #language_option_header {
    display: inline-block;
    padding-bottom: 0px;
    border-right: 1px solid #555;
    width: 44%;
  }
  .inset-header {
    margin-top: 0px !important;
    line-height: 2em;

  }
  #inset li {
    float: left !important;
  }
  .language_option {
    display: inline-block !important;
    width: 20%;
  }

  #spanish {
    padding: 5px 5px 5px 15px !important;
  }
  #english {
    padding-left: 15px !important;
  }
  .ui-selectmenu-button.ui-button {
    background-size: 35px 45px !important;
  }
  .map-legend svg {
    height: 12em !important;
  }
  #dropdown-side-label-text {
    font-size: .8em;
  }
  .grid-legend svg{
    height: 11em;
    padding-top: 1.5em;
  }

}


 @media (max-width: 600px) {


  .text-container {
    width: 100% !important;
  }

  /*FIRST-GRAPHIC*/
    .tooltip-div-left {
    width: 100% !important;
  }
  .tooltip-div-right {
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 0px;
    border-top: 1px solid #555;
    border-left-style: none !important;


  }


      /*SECOND GRAPHIC*/


      #dropdown {
        width: 70% !important;
      }
      #dropdown-side-label {
        width: 15% !important;
      }

      .ui-widget {
        font-size: .8em !important;
      }

   
      .place-label {
        font-size: 10px !important;
      }
      
      #isPhone{
        display: block !important;
      }
      .main-content {
        width: auto;
      }
      .wrapper {
        width: auto !important;
      }

      #measures-button {
        width: 20em;
      }
      /*GRID*/
        #legend3-nonmobile {
          display: none !important;
  
        }
      #legend3-mobile {
          display: block !important;
          float: left !important;
          margin-top: 5px !important;
          width: 90% !important;

        }

 
      #step1, #step2, #step3 {
        float: left;
        width: 100% !important;
      }


      li {
         width: 90%;
      }

      li.li-list {
        width: 90% !important;
        padding-left: 10px;
      }
      .section-banner {
        height: 200px !important;
      }

      .title-area {
        width: 290px !important;
      }

      .banner-area {
        height: 100% !important;
      }

      .main-title {
        font-size: 24px !important;
        line-height: 32px !important;
        margin-top: 2px !important;
      }


  }


@media (max-width: 768px){
  #isMobile {
    display: block;
  }

  .main-content {
    width: auto;
  }
  .graphic-container {
        float: none !important;
        width: 100% !important;
  }

  .text-container {
    width: 100%;
    padding-right: 0%;
  }
  .div-toggle-inline {
    margin-bottom: .5em;
  }

  #measures-button{
  width: 16em;
}
  .map-legend svg {
    height: 14em;
  }
  /*FIRST GRAPHIC*/
  #tooltip {
    float: left !important;
  }

  .xlabel {
    font-size: 1em !important;
    font-weight: 700;
  }


   .section-banner {
        height: 300px;
        width: 100%;
      }
   .title-area {
        width: 720px;
      }

   .main-title {
        font-size: 30px;
        line-height: 36px;
      }
    .container{
      padding: 0px 15px;

    }
    .graphic-container {
      padding-left: 0% !important;
    }
    #measures-button {
        width: 14em;
      }

      .ui-selectmenu-text {
        font-size: 14px !important ;
      }
    #toggle-mobile {
        display: block;
        padding-bottom: 20px;
        margin-left: 1.2em;
    }

    #toggle-nonmobile {
      display: none;
    }


  .toggle_text{
    width: 45%;
    padding-left: 0em !important;
   }
  #grid {
        margin-top: 0em !important;
      }
    #grid {
      width: 65% !important;
    }

    #legend3-nonmobile {
   display: block;
  position: relative;
  float: right;
  margin-top: 2em;
  width: 35%;

}
#dropdown-side-label {
  margin-left: 0em;

}




}
  
  @media (max-width: 990px) {
    #is990 {
      display: block;
    }

    .xlabel {
      font-size: .95em;
    }


  #measures-button {
        width: 18em;
      }
  }

  @media (max-width: 1015px) {
    .toggle_text {
    padding-top: 0em;
    }
  }






