/*ADJUSTING FOR SCREEN WIDTHS */
*:focus{
  outline: none;
}

.svg-container article {

  float: left;
  width: 30%;
  clear: left;

}

.wrapper {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*TITLE */

.title-text {
    width: 100%;
    background-color: #fff;
    margin-top: -72px;
    margin-bottom: 20px;
    margin-left: -30px;
    padding-left: 30px;
    padding-top: 30px;
    font: 400 30px/36px Lato, sans-serif;
}

.intro-text {
    font: 400 20px/26px Lato, sans-serif;
}


.wrapper h1 .number {
    width: 40px;
    background-color: #1696d2;
    color: #fff;
    height: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -10px;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 0.8em;
}

h1 {
  float: left;
  clear: left;
}
/*Map Buttons */


body {
	font-family: "Lato", sans-serif;
}

.wrapper{
    width:1100px;
    margin:0 auto;
    padding-top: 110px;
    border-top:1px solid #eee;
}


.content{
    width:1100px;
    margin: 0 auto;
    padding: 0px 30px;

}


#dropdown {
  position: relative;
  width: 20%;
  float: left;
  margin-left: 2em;
  margin-top: 1em;
}

/*FIRST GRAPHIC*/

#firstGraphic {
  position: relative;
  width: 60%;
  float: right;
  margin-top: 2em;


}
#map {
	position: relative;
  width: 60%;
  float: right;
  margin-top: 2em;


}


/*MAP LEGEND*/

#no-data {
    stroke: #9d9d9d;
    z-index: 3;
    fill: none;
} 

#data-no-cat{
    fill: #cfe8f3;
    z-index: 3;
} 

#combined{
    fill: #46abdb;
    z-index: 3;
} 

#separate{
    fill: #12719e;
    z-index: 3;
} 

#cross-tabbed{
    fill: #0a4c6a;
    z-index: 3;
} 

.legend-text {
  font-size: 12px;
}




#measures-button {
  width: 12em;
  display: inline;
  float: left;
  height: 1.5em;
  padding-top: 15px;

}

span.ui-selectmenu-text {
  width: 125px;
}

#nav_bar{
    position: relative;
    width:70%;
    height:50px;
    margin-bottom: 30px;
    float: right;
}


#step1, #step2, #step3 {
    width: 70%;
    padding-top: 10px;
    float: left;
}

#step1, #step2, #step3 ul{
    margin-left:0px;
    margin-bottom:0px;
    text-indent: 0px;
    text-align: left;

    
}

.step1_button span{
  display: inline;
    float: left;
    color:#333;
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    font-size:12px;
    border:solid 1px #e1e1e1;
}

.step2_button span{
  display: inline;
    float: left;
    color:#333;
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    font-size:12px;
    border:solid 1px #e1e1e1;
}

.step3_button span{
  display: inline;
    float: left;
    color:#333;
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    font-size:12px;
    border:solid 1px #e1e1e1;
}


.step1_button.active span{
  background-color: #1696d2;
  color: white;
}

.step2_button.active span{
  background-color: #1696d2;
  color: white;
}

.step3_button.active span{
  background-color: #1696d2;
  color: white;
}


.step2_button span:hover{
  background-color: #231f20;
  color: white;
}

.step1_button span:hover{
  background-color: #231f20;
  color: white;
}

.step3_button span:hover{
  background-color: #231f20;
  color: white;
}



select#measures-menu{
  display: none;
}
.ui-menu .ui-menu-item{
    text-align: left;
    text-indent: 1px;
}
#measures-menu-button{
  position: absolute;
  right: 0px;
}
.ui-icon, .ui-widget-content .ui-icon{
  background-image: url("../images/checkmark.png") !important;
  top: 8px !important;
  opacity: 0;
}
.ui-icon.selected{
  opacity: 1;
}

.place-label {
        fill: #444;
        font-family: "Lato", sans-serif;
        font-weight: bold;
 }

.ui-selectmenu-text {
	font-size: 12px !important ;
}

/*GRID*/

#grid {
  position: relative;
  width: 60%;
  float: right;
  margin-top: 2em;
}

.grid-state-labels {
  font-size: 12px;
}

.grid-cat-labels {
  font-size: 12px;
  z-index: 3;
}
