/*Map Buttons */

body {
	font-family: "Lato", sans-serif;
}

section {

	width: 90%;
	height: 600px;
	padding: 10px;
	margin: auto;
}

.btn {
	font-family: "Lato", sans-serif;
	font-size: 10px;
}



#button-wrapper{
	padding-top: 250px;
	float: none;
	margin: 0 auto;

}

#toggle-wrapper {
	position: relative;

}

.spacer {
	margin:0; 
	padding:0; 
	height:50px;
}

.place-label {
        fill: #444;
        font-family: "Lato", sans-serif;
        font-weight: bold;
      }
