/*ADJUSTING FOR SCREEN WIDTHS */
*:focus{
  outline: none;
}



.svg-container article {

  float: left;
  clear: left;
  margin-right: .2em;
  margin-left: 1em;

}

p {
  padding-right: 4em;
  line-height: 1.5em;
}

.wrapper {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*CONTAINERS */
.svg-container {
  position: relative;
  clear: both;
}

.text-container {
  position: relative;
  width: 39%;
  padding-right: 3%;
  padding-bottom: 20px;
  float: left;
}

.graphic-container {
  width: 58%;
  float: right;
  text-align: left;
}
/*TITLE */

.title-text {
    width: 100%;
    background-color: #fff;
    margin-top: -72px;
    margin-bottom: 20px;
    margin-left: -30px;
    padding-left: 30px;
    padding-top: 30px;
    font: 400 30px/36px Lato, sans-serif;
}

.intro-text {
    font: 400 20px/26px Lato, sans-serif;
    margin-bottom: 4em;
}


h1 {
    width: 330px;
    height: 120px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    line-height: 1.4em;
    font-size: 0.8em;
    padding-bottom: .1em;
    padding-left: .4em;
    float: left;
    clear: left;
}

/*Map Buttons */


body {
	font-family: "Lato", sans-serif;
}

.wrapper{
    width:1100px;
    margin:0 auto;
    padding-top: 110px;
    border-top:1px solid #eee;
}


.content{
    width:1100px;
    margin: 0 auto;
    padding: 0px 30px;

}


#dropdown {
  position: relative;
  width: 90%;
  float: left;
  padding-left: 1em;
}



/*FIRST GRAPHIC*/

#firstGraphic {
  position: relative;
  float: right;
  margin-top: 2em;
  width: 100%;
  height: 100%;


}
#map {
	position: relative;
  float: right;
  margin-top: 2em;
  width: 100%;
  height: 100%;

}



/*MAP LEGEND*/

#legend {
  position: relative;
  float: right;
  margin-top: 2em;

}

svg.legend-text-div {
  position: relative;
  word-wrap: break-word;
  float: right;
  width: 2em;

}

#no-data {
    stroke: #9d9d9d;
    z-index: 3;
    fill: none;
} 

#data-no-cat{
    fill: #cfe8f3;
    z-index: 3;
} 

#combined{
    fill: #46abdb;
    z-index: 3;
} 

#separate{
    fill: #12719e;
    z-index: 3;
} 

#cross-tabbed{
    fill: #0a4c6a;
    z-index: 3;
} 

text.legend-text {
  font-size: 12px;
  word-wrap: break-word;
   width: 2em;

}




#measures-button {
  width: 19em;
  display: inline;
  float: left;
  height: 1.5em;
  padding-top: 15px;

}

span.ui-selectmenu-text {
  width: 125px;
}

#nav_bar{
    position: relative;
    width:70%;
    height:50px;
    margin-bottom: 30px;
    float: right;
}


#spanish {
    width: 100%;
    padding-top: 10px;
    float: left;
}

#step1, #step2, #step3 {
    width: 70%;
    padding-top: 10px;

    left: 50%;
    right: 50%;
}

#spanish, #step1, #step2, #step3 ul{
    margin-left:0px;
    margin-bottom:0px;
    text-indent: 0px;
    text-align: left;

    
}

.spanish span{
  display: inline;
    float: left;
    color:#333;
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    font-size:12px;
    border:solid 1px #e1e1e1;
}

.step1_button, .step2_button, .step3_button {
  display: inline;
    float: right;
    color:#333;
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    font-size:12px;
    border:solid 1px #e1e1e1;
}


.spanish.active span{
  background-color: #1696d2;
  color: white;
}

.step1_button.active {
  background-color: #1696d2;
  color: white;
}

.step2_button.active {
  background-color: #1696d2;
  color: white;
}

.step3_button.active {
  background-color: #1696d2;
  color: white;
}

.spanish span:hover{
  background-color: #231f20;
  color: white;
}

.step2_button:hover{
  background-color: #231f20;
  color: white;
}

.step1_button:hover{
  background-color: #231f20;
  color: white;
}

.step3_button:hover{
  background-color: #231f20;
  color: white;
}



select#measures-menu{
  display: none;
}
.ui-menu .ui-menu-item{
    text-align: left;
    text-indent: 1px;
}

.ui-icon, .ui-widget-content .ui-icon{
  top: 8px !important;
  opacity: 0;
}


.ui-icon.selected{
  opacity: 1;
}

.place-label {
    fill: #444;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 12px;
 }

.ui-selectmenu-text {
	font-size: 17px !important ;
  margin-right: 2px;
  overflow: visible !important;
}

/*GRID*/

#legend3 {
  position: relative;
  float: right;
  margin-top: 2em;
  width: 45%;

}

#grid {
  position: relative;
  width:55%;
  height: 100%;
  float: left;
  margin-top: 2em;
}

.grid-state-labels {
  font-size: 12px;
}

.grid-cat-labels {
  font-size: 12px;
  z-index: 3;
}

.cell-text {
  font-size: 12px;
}
